<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console Logging with colors -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>
                    %highlight{[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] [%t] %c{1} - %msg%n}{FATAL=red, ERROR=red, WARN=yellow, INFO=white, DEBUG=blue, TRACE=cyan}
                </Pattern>
            </PatternLayout>
        </Console>

        <!-- File Logging without colors -->
        <File name="FileLogger" fileName="logs/app.log" append="true">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] [%t] %c{1} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <!-- Your project package -->
        <Logger name="com.myproject" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Logger>

        <!-- Root logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
